
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Patrick Hand', cursive;
  font-size: 3rem;
  min-height: 200vh;
  background-image:url(../img/background-side-ai.jpg);
}

a {
  color:rgb(33, 107, 33);
}
a:visited{
  color: rgb(0, 87, 163);
}

a:hover, a:active {
  color: rgb(95, 9, 38);
}

body h1, body h2, body h3, body h4, body h5 {
  font-family: "Gloria Hallelujah", cursive; 
  color: rgb(172, 26, 21);
  border: 4px solid rgb(58, 87, 31);
  font-size: 2.5rem;
  margin-top: 2em;
  margin-right: 22em;
  margin-left: 1em; 
  margin-bottom: 1em;

}

#headerSection h1 {
  border: 5px dashed;
  text-align: center;
  background-color: rgb(32, 54, 9);
  margin-top: 2em;
  margin-right: 22em;
  margin-left: 15em; 
  margin-bottom: 1em;
}

#headerSection h2 {
  display: none;
}

.container {
  background-color: rgb(43, 61, 43); 
  border: 5px solid rgb(91, 94, 89);
  font-size: 1.5rem;
  margin-top: 1em;
  margin-right: 15em;
  margin-left: 15em;
  margin-bottom: 1em;
  padding: 1.5em;
}

p {
  border: 4px dotted rgb(58, 87, 31);
  background-color: rgb(197, 125, 91);
  font-size: 2rem;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em; 
  margin-bottom: 1em;
  padding: 1.5em;
}

h1, h2, h3, h4, h5 {
  border: 4px solid rgb(58, 87, 31);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2em;
  margin-right: 22em;
  margin-left: 1em; 
  margin-bottom: 1em;
}

figcaption {
  display: none;
}

table, tr, th, td, caption {
  border: 1px solid #eee;
  border-collapse: collapse;
  background-color: rgb(99, 180, 133);
  padding: 0.5rem;
}

#nav {
  background-color: rgba(180, 178, 156, 0.671);
  border: solid rgb(85, 94, 77);
  padding: 3rem;
}


ul {
  border: 4px dotted rgb(58, 87, 31);
  background-color: rgb(105, 95, 80);
  font-size: 2rem;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em; 
  margin-bottom: 1em;
  padding: 1.5em;
}

#page {
  font-size: 1.2em;
  list-style: none;
}

#poem {
  border: 4px dotted rgb(202, 116, 59);
  background-color: rgb(159, 204, 157);
  Font-size: 1.5rem;
  margin-top: 2em;
  margin-right: 15em;
  margin-left: 5em; 
  margin-bottom: 1em;
  padding: 1.5em;
}

#gods, #gods1, #gods2, #gods3, #gods4 {
  display: none;
}

#cb, #cb1, #cb2, #cb3, #cb4 {
  border: 4px dotted rgb(202, 116, 59);
  background-color: rgb(159, 204, 157);
}


#center {
  text-align: center;
}

#cc, #cc1, #cc2 {
  background-color: rgb(155, 113, 77);
}

#foot, {
  background-color: transparent;
}

#foot1, {
  background-color: orange;
}

footer p {
  border: none; /* or border: 0; */
  font-size: 1.2rem;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 15em;
  margin-right:15em;
  padding: 0.5em;
}
