
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Patrick+Hand&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */

body {
  font-family: 'Patrick Hand', cursive;
  font-size: 3rem;
  min-height: 200vh;
  background-image:url(../proj_images/background-side-ai.jpg);

}

/* Link Styles */

a {
  color:rgb(33, 107, 33);
}

a:visited{
  color: rgb(0, 87, 163);
}

a:hover, a:active {
  color: rgb(95, 9, 38);
}

h1, h2, h3, h4, h5 {
  font-family: "Gloria Hallelujah", cursive; 
  color: rgb(172, 26, 21);
  font-size: 2em;

}


/* Container Styles */

.container {
  border: 5px solid rgb(207, 15, 15);
  font-size: 1.5rem;
  margin-top: 1em;
  margin-right: 15em;
  margin-left: 15em;
  margin-bottom: 1em;
  padding: 1.5em;
  background-color: rgb(43, 61, 43);
}

/* Paragraph Styles */

p {
  border: 4px dotted rgb(58, 87, 31);
  background-color: rgb(197, 125, 91);
  font-size: 2rem;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em; 
  margin-bottom: 1em;
  padding: 1.5em;
}

/* Table Styles */

table, tr, th, td, caption {
  border: 1px solid #eee;
  border-collapse: collapse;
  padding: 0.5rem;
  background-color: rgb(99, 180, 133);
}

/* Navigation Styles */

#nav {
  background-color: rgb(30, 142, 207);
  border: solid rgb(6, 167, 17);
  margin-top: 1em;
  margin-right: 2em;
  margin-left: 2em; 
  margin-bottom: 1em;
  padding: 1em;
  list-style: none;
}

/* List Styles */

ul {
  border: 4px dotted rgb(58, 87, 31);
  background-color: rgb(105, 95, 80);
  font-size: 2rem;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em; 
  margin-bottom: 1em;
  padding: 1.5em;
}

#page {
  font-size: 1.3em;
  list-style: none;
  color: rgb(117, 23, 23);
}

/* Hidden Element Styles */

#pages {
  display: none;
}

#gods, #gods1, #gods2, #gods3, #gods4 {
  display: none;
}

#cb, #cb1, #cb2, #cb3, #cb4 {
  border: 4px dotted rgb(202, 116, 59);
  background-color: rgb(159, 204, 157);
}

/* Centered Text Styles */

#center {
  text-align: center;
}

/* Custom Class Styles */

#cc, #cc1, #cc2 {
  background-color: rgb(155, 113, 77);
}

#poem {
  border: 4px dotted rgb(202, 116, 59);
  background-color: rgb(159, 204, 157);
  Font-size: 1.5rem;
  margin-top: 2em;
  margin-right: 15em;
  margin-left: 5em; 
  margin-bottom: 1em;
  padding: 1.5em;
}

/* Footer Styles */

#foot {
  background-color: transparent;
}

#foot1 {
  border: dashed rgb(36, 119, 32);
  background-color: rgb(106, 166, 223);
}

footer p {
  border: none; /* or border: 0; */
  font-size: 1.2rem;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 15em;
  margin-right:15em;
  padding: 0.5em;
}
